@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto:wght@300&display=swap");

body {
  background-color: white;
  font-family: "New Tegomin", serif;
  font-family: "Roboto", sans-serif;
}

/* Hero */

.hero {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: rgb(247, 1, 0); */
  padding: 2rem;
}

.hero h1,
p {
  color: rgb(87, 8, 7);
}

.hero h1 {
  font-size: 3rem;
  font-weight: 10rem;
}

/* Search Container */

.searchCon {
  width: 100%;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.searchCon input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.searchCon button {
  width: 60%;
  height: 5rem;
  margin-top: 2rem;
  border-radius: 0.1rem;
  background-color: rgb(40, 38, 37);
  color: rgb(239, 227, 211);
  font-size: 1.5rem;
}

.searchCon input {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid rgb(40, 38, 37);
}

.searchCon input:focus + .label-title .content-title,
.searchCon input:valid + .label-title .content-title {
  display: none;
}

/* table row */

.table {
  max-width: 80%;
}
