@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto:wght@300&display=swap");

body {
  background-color: white;
  font-family: "New Tegomin", serif;
  font-family: "Roboto", sans-serif;
}

/* Hero */

.hero {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: rgb(247, 1, 0); */
  padding: 2rem;
}

.hero h1,
p {
  color: rgb(247, 1, 0);
}

/* Search Container */

.searchCon {
  width: 100%;
  padding: 20px;
  align-items: center;
}

.inputField {
  width: 100%;
  font-size: large;
  padding-left: 10px;
}
.Btn {
  margin-top: 10px;


}

.Btn :hover {
  cursor: pointer;
  border: #797979 2px solid;
}

/* table row */

.table {
  max-width: 80%;
}
